
trigger:
  branches:
    include:
      - main        

variables:
 
  - name: azureServiceConnection
    value: 'sc-azure-sprint4'              
  - name: acrName
    value: 'acrdevops554681.azurecr.io'    
  - name: webAppName
    value: 'sprint4-api-rm554681'          
  - name: dockerRegistryServiceConnection
    value: 'sc-acr-sprint4'                
  - name: imageRepository
    value: 'sprintdevops3-app'             
  - name: dockerfilePath
    value: '$(Build.SourcesDirectory)/Dockerfile'
  - name: tag
    value: '$(Build.BuildId)'              
  - group: db-credentials                  

stages:
# ============================
# STAGE 1 - CI (Build + Docker)
# ============================
- stage: Build
  displayName: Build e Push da Imagem Docker (CI)
  jobs:
  - job: Build
    displayName: Build da Aplicação e Imagem
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Maven@4
      displayName: 'Maven Package'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'             
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

    - task: Docker@2
      displayName: 'Build e Push da Imagem para ACR'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageRepository)'
        dockerfile: '$(dockerfilePath)'
        containerRegistry: '$(dockerRegistryServiceConnection)'
        tags: |
          $(tag)
          latest


# ============================
# STAGE 2 - CD (Deploy)
# ============================
- stage: Deploy
  displayName: Deploy para Azure Web App (CD)
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: Deploy para Web App
    environment: 'Azure Web App'
    pool:
      vmImage: 'ubuntu-latest'
    variables:
      
      SPRING_DATASOURCE_URL: $(SPRING_DATASOURCE_URL)
      SPRING_DATASOURCE_USERNAME: $(SPRING_DATASOURCE_USERNAME)
      SPRING_DATASOURCE_PASSWORD: $(SPRING_DATASOURCE_PASSWORD)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: 'Azure Web App Deploy'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appName: '$(webAppName)'
              containers: '$(acrName)/$(imageRepository):$(tag)'
              appSettings: |
                -SPRING_PROFILES_ACTIVE prod
                -SPRING_DATASOURCE_URL $(SPRING_DATASOURCE_URL)
                -SPRING_DATASOURCE_USERNAME $(SPRING_DATASOURCE_USERNAME)
                -SPRING_DATASOURCE_PASSWORD $(SPRING_DATASOURCE_PASSWORD)
            
