trigger:
  branches:
    include:
      - main

variables:
  - name: azureServiceConnection
    value: 'sc-azure-sprint4'
  - name: acrName
    value: 'acrdevops554681.azurecr.io'
  - name: webAppName
    value: 'sprint4-api-rm554681'
  - name: dockerRegistryServiceConnection
    value: 'sc-acr-sprint4'
  - name: imageRepository
    value: 'sprintdevops3-app'
  - name: dockerfilePath
    value: '$(Build.SourcesDirectory)/Dockerfile'
  - name: tag
    value: '$(Build.BuildId)'
  - group: db-credentials

stages:
  - stage: Build
    displayName: Build e Push da Imagem Docker (CI)
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Maven@4
            displayName: 'Maven Package'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'clean package'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'
              mavenVersionOption: 'Default'
              sonarQubeRunAnalysis: false

          - task: Docker@2
            displayName: 'Build e Push da Imagem para ACR'
            inputs:
              command: 'buildAndPush'
              repository: '$(imageRepository)'
              dockerfile: '$(dockerfilePath)'
              containerRegistry: '$(dockerRegistryServiceConnection)'
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: Deploy para Azure Web App (CD)
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        displayName: Deploy para Web App
        environment: 'Azure Web App'
        pool:
          vmImage: 'ubuntu-latest'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: 'Azure Web App Deploy'
                  inputs:
                    azureSubscription: '$(azureServiceConnection)'
                    appName: '$(webAppName)'
                    containers: '$(acrName)/$(imageRepository):$(tag)'
                    appSettings: |
                    -name: SPRING_PROFILES_ACTIVE
                     value: prod
                    -name: SPRING_DATASOURCE_URL
                     value: $(SPRING_DATASOURCE_URL)
                    -name: SPRING_DATASOURCE_USERNAME
                     value: $(SPRING_DATASOURCE_USERNAME)
                    -name: SPRING_DATASOURCE_PASSWORD
                     value: $(SPRING_DATASOURCE_PASSWORD)
